body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.memories_container{
  display: flex;
  flex-direction: row;
}

.memory{
  background-color: pink;
  border-radius: 10px;
  padding: 25px;
  margin: 15px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  width: 400px;
  height: 400px;
}

.new_memory_form{
  border: 1px solid black;
  width: 400px;
  height: 200px;
  text-align: center;
}