/* CSS and Cards Reference - https://youtu.be/hv0rNxr1XXk?si=AzbW9fR4EKcc_RBL */
/* @import url('https://fonts.googleapis.com/css2?family=Nokora:wght@100;300;400;700;900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
* {
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image:url('./images/calm-star.gif');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #6a6a82;
  padding: 50px;
  margin: 0;
}

.memories_container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; 
  max-width: 1200px;
  flex-wrap: wrap;
}

img{
  height:100px;
  width: auto;
}

.memories_container .card{
  /* To make card into a star */
  /* clip-path: polygon(
        50% 0%, 63% 35%, 98% 35%, 
        70% 55%, 79% 90%, 
        50% 70%, 
        21% 90%, 30% 55%, 
        2% 35%, 37% 35%
    ); */
  position: relative;
  width: 280px;
  height: 400px;
  margin: 30px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  z-index: 1;
}

.memories_container .card:hover{
  box-shadow: 5px 10px 10px 5px rgba(255, 255, 255, 0.348);
  background: rgba(150, 125, 1, 0.559);
  transform: scale(5);
}

.description {
  max-height: 80px;
  overflow-y: auto;
  padding: 5px;
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.5) transparent;
}

.description::-webkit-scrollbar {
  width: 6px;
}

.description::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}

.description::-webkit-scrollbar-track {
  background: transparent;
}


.memories_container .card .content{
  padding: 20px;
  text-align: center;
  transform: translateY(100px);
  opacity: 0;
  transition: 0.5s;
  pointer-events: none;
  z-index: 1;
  overflow: auto;
  flex-direction: column;
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.5) transparent;
}

.memories_container .card:hover .content{
  transform: translateY(0px);
  opacity: 1;
  pointer-events: auto;
}

.memories_container .card .content h3{
  font-size: 1.8em;
  color: #ffffff;
  z-index: 1;
}
.memories_container .card .content p{
  font-size: 1em;
  color: #ffffff;
  font-weight: 300;
}
.memories_container .card .content a{
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  margin-top: 15px;
  background: #ffffff;
  color: #000000;
  border-radius: 20px;
  text-decoration: none;
  font-weight: 500;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

/* MEMORY FORM CSS */
.new_memory_form {
  position: relative;
  width: 280px;
  height: auto;
  margin: 30px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  z-index: 1;
}

.new_memory_form form {
  width: 80%;
  text-align: center;
}

.new_memory_form h3 {
  font-size: 1.8em;
  color: #ffffff;
  margin-bottom: 15px;
  margin-top: 15px;
}

.new_memory_form input[type="text"],
.new_memory_form input[type="submit"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  font-size: 1em;
  outline: none;
}

.new_memory_form input[type="text"]::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.new_memory_form input[type="submit"] {
  background: #ffffff;
  color: #000000;
  font-weight: 500;
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease;
}

.new_memory_form input[type="submit"]:hover {
  transform: scale(1.05);
  background: #eaeaea;
}

.new_memory_form input[type="text"]:focus {
  background: rgba(255, 255, 255, 0.3);
}

.splash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: black;
  z-index: 200;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: opacity 1s ease-in-out;
  /* line-height: 90vh; */
}

.splash.display-none {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: black;
  z-index: -10;
  color: white;
  text-align: center;
  transition: opacity 0.5s ease-out;
}

@keyframes fadeIn {
  to{
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 2s ease-in forwards;
}

.web_title {
  font-size: 5em;
  color: #fff;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ced4c6, 0 0 40px #5c5c5c, 0 0 50px #a9a9a9, 0 0 60px #b59520, 0 0 70px #cab541;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #d2cf1d, 0 0 40px #c09714, 0 0 50px #cbcbcb, 0 0 60px #535353, 0 0 70px #c2b749, 0 0 80px #d7cb49;
  }
}


.memory img {
  max-width: 80%; 
  height: auto;
  margin: 10px 0;
  width: 150px;
}

input[name="description"] {
  width: 100%; /* Adjust width as needed */
  height: 100px; /* Adjust height as needed */
  font-size: 1.2em; /* Increase font size for better readability */
  padding: 10px; /* Add padding for aesthetics */
  border: 2px solid #ccc; /* Optional: Customize border */
  border-radius: 5px; /* Optional: Add rounded corners */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Optional: Add shadow for style */
}